html,
body {
	height: auto;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: $base-font;
	font-weight: $base-font-weight;
	font-size: $base-font-size;
	color: $base-font-color;
	transition: background-color $themeTime ease-in;
	// position: relative;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.container {
	margin: 0 auto;
	padding: 0 $containerPadding + px;
	max-width: $maxWidthContainer + px;

	@each $size, $value in $container-widths {
		@media (max-width: map.get($breakpoints, $size)) {
			max-width: $value;
		}
	}
}

._visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	border: 0;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
}
